{% extends 'base.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block content %}
    <main>
        {% for post in posts %}
            <a href="{% url 'view_post' post.slug %}">
                <div class="card-horizontal">
                    <h2>{{post.titulo}}</h2>
                    {% for categoria in post.categorias.all %}
                        <div class="badge text-bg-primary tag">{{categoria.nombre}}</div>
                    {% endfor %}
                    <h3>Autor:{{post.autor.user}} | {{post.contador_visualizaciones}} vistas | {{post.contador_likes}} me gusta</h3>
                    <h3>{{post.creacion}}</h3>
                    <p>{{post.descripcion}}</p>
                </div>
            </a>
            {% empty %}
            <p>No hay publicaciones</p>
        {% endfor %}
    </main>
{% endblock %}