{% extends 'base.html' %}
{% block title %} {{post.titulo}} {% endblock %}
{% block content %}
    <main>
        <h1 class="text-center pt-3">{{post.titulo}}</h1>
        <article class="py-3">
            {{post.contenido|safe}}
        </article>
        <div class="d-flex flex-row">
            <h2 class="fs-5">Autor: {{post.autor.user}}    |    Visto {{post.contador_visualizaciones}} veces</h2>
            <form action="{% url 'like_post' post.slug %}">
                <button type="submit" class="boton-simple"><i class="bi bi-heart fs-5 ps-3" style="color: red;"></i></button>
            </form>
            
            <h2 class="fs-5 ms-1">{{post.contador_likes}}</h2>                
        </div>
    </main>
    <h3>Comentarios ({{post.contador_comentarios}} comentarios)</h3>
    <div class="comentarios">
        {% for comentario in comentarios %}
            <div class="comentario">
                <p class="fuente-informacion">{{comentario.autor.user}}</p>
                <p class="fuente-informacion">Fecha publicación: {{comentario.creacion}}</p>
                {{comentario.contenido|safe}}
                <div class="d-flex flex-row">
                    <form action="{% url 'like_comentario' comentario.id post.slug %}">
                        <button type="submit" class="boton-simple"><i class="bi bi-heart fs-5 ps-3" style="color: red;"></i></button>
                    </form>
                    <h2 class="fs-5 ms-1">{{comentario.contador_likes}}</h2>                
                </div>
            </div>
            {% empty %}
            <p>Todavía no hay comentarios</p>
        {% endfor %}
    </div> 
    {% if request.user.is_authenticated %}
        <form method="post" enctype="multipart/form-data" class="">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-success">{{ submit }}</button>
        </form>
        {% else %}
        <p>Debes iniciar sesión para dejar un comentario</p>
    {% endif %}
{% endblock %}