footer {
    text-align: center;
}

main {
    min-height: 85vh;
}

a {
    text-decoration: none;
    color: black;
}

.img-3-4{
    aspect-ratio: 4/3;
    border-radius: 2% 2% 0 0;
}

.comentario {
    background-color: rgb(214, 214, 203);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 0 0.5rem;
}

.fuente-informacion {
    font-size: 0.7rem;
    margin: 0.2rem 0;
}

.boton-simple {
    background-color: transparent;
    border: none;
}

.card-horizontal {
    background-color: rgb(214, 214, 203);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    transition: all 0.3s ease-in;
}

.card-horizontal:hover {
    background-color: rgb(153, 153, 152);
}

.card-horizontal h2 {
    font-size: 2rem;
    margin: 0;
}

.card-horizontal h3 {
    font-size: 0.7rem
}

.card-horizontal p {
    font-size: 1.5rem
}

.tag {
    margin: 0.7rem 0;
}